.autocomplete-results {
  position: absolute;
  z-index: 1000;
  width: 300px;
  max-height: 200px;
  overflow-y: auto;
  background: white;
}

.autocomplete-results .autocomplete-item {
  padding: 5px 10px;
  cursor: pointer;
}

.autocomplete-results:not(:empty) {
  border: 1px solid #ddd;
}






.autocomplete-results .autocomplete-item:hover {
  background-color: #f0f0f0;
}

.autocomplete-results .selected {
  background-color: #f0f0f0;
}