<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
    <link rel="stylesheet" href="assets/css/airports.autocomplete.css" />
  </head>
  <body>
    <h1>Mon Budget Carbone</h1>
    <h2 data-test-id="message">Cher {{ user }}, bienvenue sur la web app de Mon Budget Carbone</h2>
    <span class="user-span" data-user="{{user}}"></span>
    
    <form class="add-travel-form" data-flight-travel-id="">
      <fieldset>
        <legend>Ajouter un voyage</legend>
        
        <div>
          <label for="from-iata-code">Origine*</label>
          <input id="from-iata-code" name="from-iata-code" minlength="3" type="text" data-test-id="add-travel-from-input" autocomplete="off" required/>
          <div id="autocomplete-results-from-div" class="autocomplete-results from" data-test-id="autocomplete-results-from-div"></div>
          <span class="airport-span from" data-test-id="airport-from-span"></span>
        </div>


        <div>
          <label for="to-iata-code">Destination*</label>
          <input id="to-iata-code" name="to-iata-code" minlength="3" type="text" data-test-id="add-travel-to-input" autocomplete="off" required/>
          <div id="autocomplete-results-to-div" class="autocomplete-results to" data-test-id="autocomplete-results-to-div"></div>
          <span class="airport-span to" data-test-id="airport-to-span"></span>
        </div>

        <label for="outbound-date">Date aller*</label>
        <input id="outbound-date" name="outbound-date" type="date" 
        data-test-id="add-travel-form-outbound-date" required/>


        <div>
          <label for="outbound-connection-iata-code">Escale aller</label>
          <input id="outbound-connection-iata-code" name="outbound-connection-iata-code" minlength="3" type="text" data-test-id="add-travel-outbound-connection-input" autocomplete="off"/>
          <div id="autocomplete-results-outbound-connection-div" class="autocomplete-results outbound-connection" data-test-id="autocomplete-results-outbound-connection-div"></div>
          <span class="airport-span outbound-connection" data-test-id="airport-outbound-connection-span"></span>
        </div>

        
        <label for="inbound-date">Date retour</label>
        <input id="inbound-date" name="inbound-date" type="date" 
        data-test-id="add-travel-form-inbound-date"/>

        <div>
          <label for="inbound-connection-iata-code">Escale retour</label>
          <input id="inbound-connection-iata-code" name="inbound-connection-iata-code" minlength="3" type="text" data-test-id="add-travel-inbound-connection-input" autocomplete="off"/>
          <div id="autocomplete-results-inbound-connection-div" class="autocomplete-results inbound-connection" data-test-id="autocomplete-results-inbound-connection-div"></div>
          <span class="airport-span inbound-connection" data-test-id="airport-inbound-connection-span"></span>
        </div>  
        <button type="submit" class="add-travel-btn" data-test-id="add-travel-btn">Ajouter un voyage</button>
      </fieldset>      
    </form>

    <div class="flight-travels-container" style="display: none;">
      <h3>Voici tous vos voyages enregistrés</h3>      
      <table class="flight-travels-table" >
        <thead>
          <tr>
            <th>Origine</th>
            <th>Destination</th>
            <th>Aller</th>
            <th>Retour </th>
            <th>Escale aller</th>
            <th>Escale retour</th>
            <th>Empreinte carbone</th>
            <th>Éditer ce voyage</th>
            <th>Supprimer ce voyage</th>
          </tr>
        </thead>
      </table>
      <h3>Total kgCO2: <span class="total-kg-co2-span" data-test-id="total-kg-co2-span"></span></h3>

    </div>    
  </body>
  <footer>
    Généré par Handlebars et Webaddikt SL
  </footer>
</html>

<script defer src="assets/js/luxon.min.js"></script>
<script defer src="assets/js/axios.min.js"></script>
<script defer src="assets/js/flight-travels.js"></script>
<script defer src="assets/js/airports.autocomplete.js"></script>