<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>
    <h1 data-testid="message">Cher {{ user }}, bienvenue sur la web app de Mon Budget Carbone</h1>
    <span class="span-user" data-user="{{user}}"></span>
    <div class="flight-travels-container">
      <h3>Voici tous vos voyages enregistrés</h3>
    </div>    
    <img src="assets/img/pulpito_128.png">
  </body>
  <footer>
    Généré par Handlebars et Webaddikt SL
  </footer>
</html>

<script defer src="assets/js/moment.min.js"></script>
<script defer src="assets/js/moment.fr.min.js"></script>
<script defer src="assets/js/axios.min.js"></script>
<script defer src="assets/js/flight-travels.js"></script>