<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
    <link rel="stylesheet" href="assets/css/airports.autocomplete.css" />
  </head>
  <body>
    <h1>Mon Budget Carbone</h1>
    <h2 data-test-id="message">Cher {{ user }}, bienvenue sur la web app de Mon Budget Carbone</h2>
    <span class="user-span" data-user="{{user}}"></span>
    <form class="airport-form-autocomplete-test">
      <fieldset>
        <legend>Rechercher un aéroport</legend>
        <label for="searchTravelFrom">Aéroport</label>
        <input id="searchTravelFrom" name="searchTravelFrom" minlength="3" type="text" data-test-id="search-travel-from" />
        <div id="autocomplete-results" class="autocomplete-results" data-test-id="autocomplete-results"></div>       
      </fieldset>
      <fieldset>
        <!-- table with the results of airports retrieved -->
        <legend>Résultat de la recherche d'aéroports</legend>
        <!-- min and max big enough to show all the results -->
        <span           
          data-test-id="airports-results" 
          class="airports-results-span"
        ></span>
      </fieldset>

    </form>
    <form class="add-travel-form">
      <fieldset>
        <legend>Ajouter un voyage</legend>
        
        <label for="fromIataCode">Origine*</label>
        <input id="addTravelfromIataCode" name="fromIataCode" minlength="3" type="text" data-test-id="add-travel-from-input" autocomplete="off" required/>
        <div id="autocomplete-results-from-div" class="autocomplete-results from" data-test-id="autocomplete-results-from-div"></div>
        <span class="airport-from-span" data-test-id="airport-from-span"></span>

        </br>

        <label for="addTraveltoIataCode">Destination*</label>
        <select id="addTraveltoIataCode"  name="toIataCode" data-test-id="add-travel-form-to-iata-code" required>
          <option value="">Tu allais où?</option>
          <option value="MAD">Madrid</option>
          <option value="PRG">Prague</option>
          <option value="LYS">Lyon</option>
          <option value="UIO">Quito</option>
          <option value="AMS">Amsterdam</option>
          <option value="BOG">Bogota</option>
          <option value="JFK">New York</option>
          <option value="BRU">Bruxelles</option>
          <option value="CDG">Paris CDG</option>
          <option value="DUB">Dublin</option>
        </select>

        <br/>
        <label for="addTraveloutboundDate">Date aller*</label>
        <input id="addTraveloutboundDate" name="outboundDate" type="date" 
        data-test-id="add-travel-form-outbound-date" required/>

        <label for="addTraveloutboundConnection">Escale aller</label>
        <select id="addTraveloutboundConnection" name="outboundConnection" data-test-id="add-travel-form-outbound-connection" >
          <option value="">Escale aller</option>
          <option value="MAD">Madrid</option>
          <option value="PRG">Prague</option>
          <option value="LYS">Lyon</option>
          <option value="UIO">Quito</option>
          <option value="AMS">Amsterdam</option>
          <option value="BOG">Bogota</option>
          <option value="JFK">New York</option>
          <option value="BRU">Bruxelles</option>
          <option value="CDG">Paris CDG</option>
          <option value="DUB">Dublin</option>
        </select>
        <br/>
        <label for="addTravelinboundDate">Date retour</label>
        <input id="addTravelinboundDate" name="inboundDate" type="date" 
        data-test-id="add-travel-form-inbound-date"/>

        <label for="addTravelinboundConnection">Escale retour</label>      
        <select id="addTravelinboundConnection" name="inboundConnection" data-test-id="add-travel-form-inbound-connection" >
          <option value="">Escale retour</option>
          <option value="MAD">Madrid</option>
          <option value="PRG">Prague</option>
          <option value="LYS">Lyon</option>
          <option value="UIO">Quito</option>
          <option value="AMS">Amsterdam</option>
          <option value="BOG">Bogota</option>
          <option value="JFK">New York</option>
          <option value="BRU">Bruxelles</option>
          <option value="CDG">Paris CDG</option>
          <option value="DUB">Dublin</option>
        </select>


        <button type="submit" class="add-travel-btn" data-test-id="add-travel-btn">Ajouter un voyage</button>
      </fieldset>      
    </form>

    <form class="edit-travel-form" data-flight-travel-id="">
      <fieldset>
        <legend>Éditer un voyage</legend>
        <label for="editTravelfromIataCode">Origine*</label>
        <select id="editTravelfromIataCode" name="fromIataCode" data-test-id="edit-travel-form-from-iata-code" required>
          <option value="">Tu partais d'où?</option>
          <option value="MAD">Madrid</option>
          <option value="PRG">Prague</option>
          <option value="LYS">Lyon</option>
          <option value="UIO">Quito</option>
          <option value="AMS">Amsterdam</option>
          <option value="BOG">Bogota</option>
          <option value="JFK">New York</option>
          <option value="BRU">Bruxelles</option>
          <option value="CDG">Paris CDG</option>
          <option value="DUB">Dublin</option>
        </select>

        <label for="editTraveltoIataCode">Destination*</label>
        <select id="editTraveltoIataCode" name="toIataCode" data-test-id="edit-travel-form-to-iata-code" required>
          <option value="">Tu allais où?</option>
          <option value="MAD">Madrid</option>
          <option value="PRG">Prague</option>
          <option value="LYS">Lyon</option>
          <option value="UIO">Quito</option>
          <option value="AMS">Amsterdam</option>
          <option value="BOG">Bogota</option>
          <option value="JFK">New York</option>
          <option value="BRU">Bruxelles</option>
          <option value="CDG">Paris CDG</option>
          <option value="DUB">Dublin</option>
        </select>

        <br/>
        <label for="editTraveloutboundDate">Date aller*</label>
        <input id="editTraveloutboundDate" name="outboundDate" type="date" 
        data-test-id="edit-travel-form-outbound-date" required />

        <label for="editTraveloutboundConnection">Escale aller</label>
        <select id="editTraveloutboundConnection" name="outboundConnection" data-test-id="edit-travel-form-outbound-connection" >
          <option value="">Escale aller</option>
          <option value="MAD">Madrid</option>
          <option value="PRG">Prague</option>
          <option value="LYS">Lyon</option>
          <option value="UIO">Quito</option>
          <option value="AMS">Amsterdam</option>
          <option value="BOG">Bogota</option>
          <option value="JFK">New York</option>
          <option value="BRU">Bruxelles</option>
          <option value="CDG">Paris CDG</option>
          <option value="DUB">Dublin</option>
        </select>
        <br/>
        <label for="editTravelinboundDate">Date retour</label>
        <input id="editTravelinboundDate" name="inboundDate" type="date" 
        data-test-id="edit-travel-form-inbound-date"/>

        <label for="editTravelinboundConnection">Escale retour</label>      
        <select id="editTravelinboundConnection" name="inboundConnection" data-test-id="edit-travel-form-inbound-connection" >
          <option value="">Escale retour</option>
          <option value="MAD">Madrid</option>
          <option value="PRG">Prague</option>
          <option value="LYS">Lyon</option>
          <option value="UIO">Quito</option>
          <option value="AMS">Amsterdam</option>
          <option value="BOG">Bogota</option>
          <option value="JFK">New York</option>
          <option value="BRU">Bruxelles</option>
          <option value="CDG">Paris CDG</option>
          <option value="DUB">Dublin</option>
        </select>


        <button type="submit" class="edit-travel-btn" data-test-id="edit-travel-btn">Éditer un voyage</button>     
      </fieldset>
    </form>
    
    <div class="flight-travels-container" style="display: none;">
      <h3>Voici tous vos voyages enregistrés</h3>      
      <table class="flight-travels-table" >
        <thead>
          <tr>
            <th>Origine</th>
            <th>Destination</th>
            <th>Aller</th>
            <th>Retour </th>
            <th>Escale aller</th>
            <th>Escale retour</th>
            <th>Empreinte carbone</th>
            <th>Éditer ce voyage</th>
            <th>Supprimer ce voyage</th>
          </tr>
        </thead>
      </table>
      <h3>Total kgCO2: <span class="total-kg-co2-span" data-test-id="total-kg-co2-span"></span></h3>

    </div>    
  </body>
  <footer>
    Généré par Handlebars et Webaddikt SL
  </footer>
</html>

<script defer src="assets/js/luxon.min.js"></script>
<script defer src="assets/js/axios.min.js"></script>
<script defer src="assets/js/flight-travels.js"></script>
<script defer src="assets/js/airports.autocomplete.js"></script>